
 body {
   background-image: url(/Users/jgescriba/Desktop/Project1/assets/images/grey_@2X.png);
 }
 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* "Heighten" css manipulation */
.navbar-brand {
 font-family: 'Six Caps', sans-serif;
 font-size: 50px;
 text-shadow: 2px 2px #008000;
 margin-top: -10px;
 }

 /* Home, Link, Dropdown link manipulation*/
 .navbar-nav {
   padding-left: 450px;
   font-size: 35px;
   height: 70px;
   font-family: 'Six Caps', cursive;
   
 }

 .navbar-social {
   padding-left: 450px;
   margin-top:20px;
   
 }


 h1 {
   text-align: center;
   color: rgb(93, 97, 100);
   font-family: 'Bangers', cursive;
   padding-bottom: 5px;
 }

 
 

 /* Gave space between icons so theyre not bunched up -JE */
 
 li {
   padding-left: .5em;
 }
 
 /* set icon colors to white, originally were blue */
 i {
   color:  rgb(17, 12, 7);
 }

 .dropdown-item {
   font-family: 'Times New Roman', Times, serif;
   font-size: 15px;
 }

 ul {
   font-size: 25px;
   height: 50px;
 }
 ul {
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

li{
  list-style-type: none;
  text-align: justify;
  margin: 5px;
  /* padding-bottom: 5px; */
}

button {
   margin: 5px;
   padding: 20px;
   font-size: 25px;
   text-shadow:black;
}

.btn-light {
   background-color:whitesmoke;
}

button:hover {
  background-color: rgb(85, 85, 85);

}

div.sidenav {
  background-color: gainsboro;
  border-width: 3px;
  border-color: rgb(85,85,85);
  border-style: outset;
  width: 375px;
  height: 100%;
}



h4 {
  text-align: center;
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p {
  text-align: center;

}

/* //spotify player css */
.mt-5 {
  border-style: solid;
}